body {
    background-image: url('../img/bison_1.png'), url("../img/gras.gif");
    background-size: 1000px, 1000px;
}

    .row {
    display: flex;
    background-color: aqua;margin:20px;
    }

  .column {
    flex: 25%;
    background-color: aqua;margin:20px;
  }

footer{
    text-align:center;
}

nav {
    background-color: orange;
    opacity: 0.8;
    border:5px, yellow;
    position:sticky;
    max-width: fit-content;
    font-style: italic;
    border-radius: 10px;
    
}

nav li {
    display: inline-block;
    padding: 20px;
}

nav li a {
    color: black;
    text-decoration: none;
    font-family: 'Cambria';
    font-size: 20px;

}

nav li a:hover{
    color: white;
    text-decoration: underline;

}

.trans1 {grid-area:trans1;}
.trans2 {grid-area:trans2;}
.trans3 {grid-area:trans3;}
.trans4 {grid-area:trans4;}
.trans5 {grid-area:trans5;}


.grid-container{
    display:grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: auto auto auto;
    gap:5px;
    grid-template-areas: 
    'trans1 trans2 trans3'
    'trans4 trans5 trans5';
    background-color: burlywood;
}
