header {grid-area:header;}
nav{grid-area:nav;}
main{grid-area:main;}
footer{grid-area:footer;}



.grid-container{
    display:grid;
    grid-template-areas:
    'header header header header header header'
    'nav main main main main main'
    'footer footer footer footer footer footer';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
}

#p5Canvas{ 
    position:fixed;
    inset:0;
    pointer-events: none;
    background-color: aqua;
}

header {background-color: aqua;margin: 10px;}
nav{background-color: yellow;margin:10px;}
main{background-color: brown;margin:10px;}
footer{background-color: blue;margin:10px;}


@media screen and (max-width: 800px){
    body{
        background-color: lightblue;
    }
}

.herotext{
    font-size: 50px;
    font-family: 'Cambria';
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    opacity: 0.8;
    position: relative;
    top: 50px;
    transform: translate(0%, 0%);
  }

.heroimage{
    background-image: url('../img/bison_1.png');
    background-size: cover;
    position:relative;


}
div .herotext:hover {
    opacity:1;
    text-shadow: 6px 4px 6px #000000;

}  
.lightbox{
    size: 500px;
    font-size: medium;
    background-color: yellow;
    border: 5px, dotted, black;
    text-align:center;
    font-family: 'Cambria';
    padding:20px;
    opacity: 0.5;
    position:fixed;
    right:200px;
  }